<!DOCTYPE html>
<html lang="en">
<head>
  <title>Glove Up! Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/solo_project/nak_muay/aom_project/muay/static/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

  {% load static %}
  <video id="videoBG" poster="poster.JPG" autoplay muted loop>
    <source src="/solo_project/nak_muay/aom_project/muay/images/thai_fight.mp4" type="video/mp4">
  </video>

<div class="jumbotron text-center">
  <a href="/logout" role="button" class="btn btn-sm btn-info ml-2 text-white">Logout</a>
  <h1>Welcome Challenger!</h1>
  <p>Check out our areas below:</p> 
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3 style="background-color:rgba(0, 0, 0, 0.705);color:rgb(238, 255, 0);"><a href="warm_up">Warm Up</h3></a>
      <p style="background-color:rgba(0, 0, 0, 0.705);color:rgb(255, 255, 255);">Stretching, running, jump rope, etc. Get your heart going.</p>
    </div>
    <div class="col-sm-4">
      <h3 style="background-color:rgba(0, 0, 0, 0.705);color:rgb(238, 255, 0);"><a href="drills">Drills</h3></a>
      <p style="background-color:rgba(0, 0, 0, 0.705);color:rgb(255, 255, 255);">Punches, elbows, knees, kicks, clinch. Drills to be the best.</p>
    </div>
    <div class="col-sm-4">
      <h3 style="background-color:rgba(0, 0, 0, 0.705);color:rgb(238, 255, 0);"><a href="media">Muay Thai in Media</h3></a>        
      <p style="background-color:rgba(0, 0, 0, 0.705);color:rgb(255, 255, 255);">From movies to video games, check ou Muay Thai in pop culture.</p>
    </div>
  </div>
</div>
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3 style="background-color:rgba(0, 0, 0, 0.705);color:rgb(238, 255, 0);">Gym Locator(Coming Soon)</h3>
      <p style="background-color:rgba(0, 0, 0, 0.705);color:rgb(255, 255, 255);">So you want to train in Muay Thai? Locate the nearest gym near you and begin your journey.</p>
    </div>
    <div class="col-sm-4">
      <h3 style="background-color:rgba(0, 0, 0, 0.705);color:rgb(238, 255, 0);">Gear Up(Coming Soon)</h3>
      <p style="background-color:rgba(0, 0, 0, 0.705);color:rgb(255, 255, 255);">List of recommendations on proper gear and what's best for you</p>
    </div>
    <div class="col-sm-4">
      <h3 style="background-color:rgba(0, 0, 0, 0.705);color:rgb(238, 255, 0);"><a href="forum">Wall of Muay</h3></a>   
      <p style="background-color:rgba(0, 0, 0, 0.705);color:rgb(255, 255, 255);">Are you ready? Enter the ring to find discussion boards ranging from fighting/training tips, 
         encouragement for your first fight, and much more.
      </p>
    </div>
  </div>
</div>
</body>
</html>