<!DOCTYPE html>
<html lang="en">
<head>
  <title>Warm Up</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="jumbotron text-center">
        <a href="/intro" role="button" class="btn btn-sm btn-info ml-2 text-white">Back</a><a href="/logout" role="button" class="btn btn-sm btn-info ml-2 text-white">Logout</a>
        <h1>Muay Thai in Media</h1>
        <p>From video games to movies, these videos show the influence of Muay Thai worldwide.</p> 
      </div>
    <div class="container">
        <div class="row">
          <div class="col-sm-5">
            <iframe width="605" height="454" src="https://www.youtube.com/embed/x-6JoJ_Jl84" frameborder="0" allow="accelerometer; autoplay; 
            encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>Tony Jaa is a world reknwon nak muay who has starred in many films, mostly known by "Ong Bak" and "The Protector".</p>
          </div>
    
</body>