<!DOCTYPE html>
<html lang="en">
<head>
  <title>Warm Up</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="jumbotron text-center">
        <a href="/intro" role="button" class="btn btn-sm btn-info ml-2 text-white">Back</a><a href="/logout" role="button" class="btn btn-sm btn-info ml-2 text-white">Logout</a>
        <h1>Warm Up</h1>
        <p>Stretching, running, jump rope, etc. Get your heart going.</p> 
      </div>
    <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <iframe width="605" height="454" src="https://www.youtube.com/embed/piaksRaB9G0" frameborder="0" allow="accelerometer; autoplay; 
            encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>A list of warm-up exercises will listed in rows where they can view on site or be taken to the video source.</p>
          </div>
    
</body>